a:hover {
    color: red;
}

a:active {
    color: skyblue;
}

a:visited {
    color: slateblue;
}

a:link {
    color: thistle;
}

.h:first-letter {
color: tomato;
font-size: 24px;
}

p.textOfI::first-line {
    font-style: italic;
}

.beforAndAfterInsertSymbols::before{
    content: "\21D2";
}

.beforAndAfterInsertSymbols::after{
    content: "\260E";
}

::selection {
    background: black;
    color: gainsboro;
}