body{
	padding: 60px;
}
p.test1{
	width: 500px;
	border: 1px solid #003;
	padding: 3px;
	transform: rotate(10deg) scale(0.8);
}

a {
	background-color: seashell;
	padding: 40px;
	display: inline-block;
	margin: 50;
	transition-property: background-color rotate scale;
	transition-duration: 0.5s;
}

a:hover {
	background-color: slateblue;
	padding: 40px;
	display: inline-block;
	transform:rotate(45deg) scale(1.5) skew(-35deg, -45deg);
}