a:hover {
    color: red;
}

a:active {
    font-size: 20px;
}

p:first-letter {
    font-size: 30px;
    color: red;
}

::selection {
    color: salmon;
    background: skyblue;
}

input:focus {
    background: purple;
    border-radius: 20px;
    border-color: red;
}
.test:before {
    content: "Hello!!! ";
}
.test:after {
    content: "Good Bye!";
}