* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  cursor: pointer;
  width: 220px;
  padding: 15px;
  border: 1px solid #b3c9ce;
  margin: 3px;
  user-select: none;
}

li:hover {
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.load-item {
    animation: load 1.5s ease-out infinite;
}
  @keyframes load {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.hide {
  display: none;
}

.tool {
  position: absolute;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}