body {
    padding: 20px;
}

h1 {
    font-family: Verdana, Arial, Helvetica ;
}

p {
    font-size: 1.2em;
    font-family: Karla;
    text-decoration: underline;   
    letter-spacing: 1px;
    word-spacing: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}